encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age16hg04tkavyrjjxckc5ya2hz3crhddd9nc9nfzmyuqfjluvx5ddfs9uu4jc"

[diff]
    pager = "delta"

[data]
    {{ $personalDataPath := joinPath .chezmoi.homeDir ".config/chezmoi/personaldata.toml" -}}
    {{ if stat $personalDataPath -}}
    {{ include $personalDataPath -}}
    {{ end }}
