Host login1
  HostName 172.16.10.20
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host login2
  HostName 172.16.10.21
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host login6
  HostName 172.16.10.106
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host login7
  HostName 10.92.1.107
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host dt1
  HostName 172.16.10.23
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host dt2
  HostName 172.16.10.24
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host mpi-hpcl7
  HostName hpcl7001.biochem.mpg.de
  User <user>
  IdentityFile "~/.ssh/id_rsa"
  ServerAliveInterval 60
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa

Host github.work
  User git
  HostName github.com
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile "~/.ssh/id_rsa"

{{- if eq .chezmoi.hostname "system76-lemur"}}

Host workPC
  HostName 10.82.1.21
  User <user>
  ServerAliveInterval 60
  IdentityFile "~/.ssh/id_rsa"
  PubkeyAcceptedAlgorithms +ssh-rsa
  HostkeyAlgorithms +ssh-rsa
  ForwardX11 yes

Host gitlab.com
  PreferredAuthentications publickey
  IdentityFile "~/.ssh/id_gitlab_com_ed25519"

Host github.com
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile "~/.ssh/anonical-github-key"

{{else if eq .chezmoi.hostname "workPC"}}

Host github.com
  PreferredAuthentications publickey
  IdentitiesOnly yes
  IdentityFile "~/.ssh/anonical-github-workPC"

{{ end }}
